@model IEnumerable<HotelManager.DTO.RoomModel>

@{
    ViewData["Title"] = "Rooms";
}

<h4>Rooms</h4>
<hr />
<p>
    <a asp-action="CreateRoom">Create New Room</a>
</p>
<table class="table">
    <thead>
        <tr>
            <th>
                @Html.DisplayNameFor(model => model.Id)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.NextAvailableDate)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Size)
            </th>
            <th>
                @Html.DisplayNameFor(model=>model.Status)
            </th>
            <th></th>
        </tr>
    </thead>
    <tbody>
        @foreach (var item in Model)
        {
            <tr>
                <td>
                    @Html.DisplayFor(modelItem => item.Id)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.NextAvailableDateString)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.Size)
                </td>
                <td>
                    @Html.DisplayFor(modelItem=>item.Status)
                </td>
            </tr>
        }
    </tbody>
</table>
